@import "materialize/components/color";
$primary-color: color("red", "darken-1") !default;
@import 'materialize';
@import "./item";
@import "./overlay";
@import "./paper";

body {
  margin: 0;
  width: 100%;
}

.wrapper {
  max-width: 900px;
  margin: 20px auto;
  padding: 0 10px;
}

.menu-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 64px;
  z-index: 100;
}

.collection-link {
  font-size: 2rem;
}
